* { /* V2.6 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
	background-color: rgb(230, 240, 227);
}

/* SECCION DEL NAV */

.navmenu {
	font-size: 20px;
	display: inline-flex;
	background-color: rgb(174, 215, 159);
	width: 100%;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
	height: 50px;
	padding: 20px;
	position: relative;
}

.home {
	font-size: 25px;
	border-radius: 5px;
	transition: 0.7s;
	padding: 6px;
	position: relative;
	transition: 0.7s;
}

.home:hover {
	/* background: rgb(174, 215, 159); */
	background: white;
}

.pages {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 50px;
	align-content: center;
}

.button {
	background: transparent;
	padding: 6px;
	gap: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 40px;
	border-radius: 5px;
	transition: 0.7s;
}

.button:hover {
	background: white;
	cursor: pointer;
}

.button::after {
	content: '';
	background: linear-gradient(to right, rgb(35, 154, 20), rgb(27, 179, 80));
	height: 5px;
	width: 0px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 100px;
	transition: 0.7s ease;
} 

.button:hover::after {
	width: 100%;
	transform: scale (1.1);
} 

.pages a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.profile {
	font-size: 30px;
	padding: 6px;
	border-radius: 5px;
	transition: 0.5s;
}

.profile:hover {
	background: white;
}

/* SECCION DE TIPOS */
img {
	height: 200 px;
	width: 200px;
}

h3 {
	
}

span {
	font-size: 18px;
}

a {
	text-decoration: none;
}

.titles {
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	transition: 0.3s;
	background: #239A14;
}

.title1:hover {
	background: #239A14;
	color: white;
}


.title1, .title2 {
	background: #239A14;
	color: white;
	border-radius: 10px;
	width: 300px;
	height: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagescontainer {
	display: flex;
	gap: 7px;
    justify-content: center;
	align-items: center;
	background: rgb(174, 215, 159);
	height: 475px;
	border-radius: 60px;
}

.imagesarea, .imagesarea2 {
	display: flex;
	padding: 10; 
	gap: 10px;
	align-items: center;
	background: rgb(174, 215, 159);
	overflow: hidden;
	width: 92.45%;
	height: 100%;
	transition: transform 0.6s ease;
}

.flecha-l {
	margin-left: -7px;
	background: rgb(27, 179, 80);
	color: rgb(9, 71, 4); 
	font-size: 40px;
	transition: 0.3s;
	border: 4px solid rgb(27, 179, 80);
	border-radius: 5px;
	margin-right: -2px;
}

.flecha-l:hover {
	background: white;
	transform: scale(1.3);
	cursor: pointer;
	border: 4px solid white;
	color: rgb(27, 179, 80);
}

.flecha-r {
	margin-right: -7px;
	background: rgb(27, 179, 80);
	color: rgb(9, 71, 4); 
	font-size: 40px;
	transition: 0.3s;
	border: 4px solid rgb(27, 179, 80);
	border-radius: 5px;
}

.flecha-r:hover {
	background: white;
	transform: scale(1.2);
	cursor: pointer;
	border: 4px solid white;
	color: rgb(27, 179, 80);
}

.info {
	display: flex;
	gap: 100px;
}

.tipo {
	min-width: 100px;
	padding: 5px;
	margin-top: -45px;
	margin-bottom: 15px;
	margin-left: -12px;
	padding-bottom: -10px;
	color: white;
	border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
	border: 2px solid #1E3920;
	height: 35px;
	
}

#destino {
	background: rgb(0, 176, 240);
}

#paquete {
	background: rgb(27, 179, 80);
}

.precio {
	background-color: yellow;
	padding: 5px;
	margin-top: -45px;
	margin-bottom: 15px;
	min-width: 100px;
	padding-bottom: -10px;
	color: #614003;
	border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
	border: 2px solid #1E3920;
	height: 35px;
}

.precio i {
	color: #614003;
}

#oferta {
	background: red;
	color: white;
}

#oferta i {
	color: white;
}

.imagebg {
    background: rgb(35, 154, 20);
    padding: 10px;
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px; 
    box-shadow: 0px 7px 1px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 300px;
	height: 330px;
	padding-bottom: 40px;
	border: 2px solid #1E3920;
	transition: transform 0.3s;
	flex: 0 0 auto;
	margin: 0;     /* Elimina márgenes extra */
}

.imagebg:hover {
	transform: scale(1.03);
	margin-top: -100px;
	margin-bottom: -100px;
	height: 390px;
	border: 2px solid white;
	/* background: rgb(174, 215, 159); */
}

.imagebg:hover .image{
	height: 67%
}

.imagebg:hover .tipo{
	border: 2px solid white;
}

.imagebg:hover .precio{
	border: 2px solid white;
}

.imagebg:hover .h3bg{
	height: 88px;
	/* color: rgb(174, 215, 159);
	background: rgb(35, 154, 20); */
}

.image {
	flex-grow: 1;
	height: 75%;
	width: 95%;
    max-width: 100%; 
	border: 3px solid rgb(174, 215, 159);
	margin-bottom: 5px;
	margin-top: 0px;

}

.h3bg {
	background: rgb(174, 215, 159);
	justify-content: center;
	align-items: center;
	text-align: center;
	display: grid;
	margin-bottom: 5px;
	overflow: hidden;
	height: 46px;
	border-radius: 5px;
	color: rgb(9, 71, 4);
	padding: 3px;
	font-size: 15px;
	/* padding-right: 5px;
	padding-left: 5px;
	margin-right: 8px;
	margin-left: 8px;    Ajusta el nombre a la anchura de la imagens*/
}

.info2 {
	gap: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 6px;
}

.reseña {
	font-size: 16.5px;
	position: absolute;
	top: 15%;
	left: 10%;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
	color: gold;
}

.stars {
	color: gold;
	background: rgb(9, 71, 4);
	/* margin-top: 10px;
	margin-right: 60%;
	margin-left: 75px;
	margin-right: 75px;
	padding-bottom: 2px; */
	border: 2px solid rgb(174, 215, 159);
	/* padding-right: 5px;
	padding-left: 5px; */
	height: 30px;
	width: 110px;
	/* */
	display: inline-block;
	position: relative;
	transition: opacity 0.1s;
	transition: 0.2s;
	font-size: 10px;
}

.stars:hover {
	background: rgb(27, 179, 80);
	transform: scale(1.1);
}
.stars:hover span{
	opacity: 0;
}

.stars:hover .reseña {
	opacity: 1;
}

.mas {
	border: 2px solid rgb(174, 215, 159);
	background: rgb(9, 71, 4);
	color: white;
	width: 129px;
	font-size: 13px;
	/* padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px; */
	height: 30px;
	justify-content: center;
	align-items: center;
	display: flex;
	transition: 0.2s;
}

.mas:hover {
	transform: scale(1.1);
	background: rgb(27, 179, 80);
	font-size: 13.5px;
}

.dots {
	background: rgb(9, 71, 4);
	border: 2px solid rgb(174, 215, 159);
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.dots i {
	color: white;
	font-size: 17px;
	padding-top: 0.5px;
}

.dots:hover {
	cursor: pointer;
	background: rgb(27, 179, 80);
}
