*
{
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Poppins", sans-serif;
	/* display: flex;
	background: url('roomblue.jpg');
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%; */
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
	font-size: 62.5%;
}

form {
	width: auto;
}

input[type="text"], input[type="password"], input[type="email"] {
	height: 0.8rem;
	width: 100%;
	margin-bottom: 0.8rem;
	border: 0.2rem solid white;
	border-radius: 1rem;
	padding: 1rem;
	background: #239A14;
	-webkit-text-fill-color: white;
	font-weight: bold;
	transition: background-color 0.5s ease;
}

.user:hover, .pass:hover, .email:hover {
	-webkit-text-fill-color: #239A14;
	background: white;
}

input[type="checkbox"] {
	height: 1.6rem;
	width: 1.6rem;
	border-radius: 1rem;
	padding: 1rem;
	cursor: pointer;
}

button {
	height: 3.3rem;
	border-radius: 2rem;
	width: 60%;
	align-self: center;
	cursor: pointer;
	margin-bottom: 0.9rem;
	font-weight: bold;
	transition: 0.3s ease-out;
	color: #0db843;
	font-weight: bold;
	font-family: "Alata", sans-serif;
	border: 0.4rem solid white;
}

button:hover {
	transform: scale(1.09);
	background: #0db843;
	color: white;
	border: 0.4rem solid #0db843;
}

label {
	font-size: 1.35rem;
	font-family: "Alata", sans-serif;
	color: white;
}

.title {
	font-size: 4rem;
	top: 0;
	color: #0db843;
    /* background-image: url('https://i.pinimg.com/originals/9a/ef/6d/9aef6d1c33bead42e5eb1517449ebf00.jpg'); */
	/* background-image: url('https://i.pinimg.com/1200x/30/4b/eb/304beb16a3361477b10bcf1f2ec04606.jpg');
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
	-webkit-text-stroke: 0.1rem white; */
	font-family: "Alata", sans-serif;
	margin-bottom: 1.3rem;
}

.bg {
	background-image: url('../images/login/login-register-bg.jpg');
	height: 100vh;
	background-size: cover; 
	width: 100%;					
    background-position: center;
	min-height: 100vh;
	width: 100%;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

.container-l, .container-r {
	position: relative;
	height: 40rem;
	width: 40rem;
	display: flex;
	background: transparent;
	border: 0.1rem solid white;
	backdrop-filter: blur(0.6rem);
	box-shadow: 0 0 0.6rem rgba(0, 0, 0, 5);
	text-align: center;
	align-content: center;
	border-radius: 2rem;
}

.form {
	gap: 2rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.inputcont {
	display: flex;
	width: 100%;
	position: relative;
	flex-direction: column;
}

.input {
	display: flex;
	width: auto;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.input:hover i {
	color: white;
	cursor: pointer;
}

.input i {
	font-size: 1.5rem;
	color: white;
	position: absolute;
	left: 93%;
	top: 22%;
	transition: 0.3s ease-out;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	width: 80%;
}

.buttons {
	display: flex;
	width: auto;
	justify-content: space-between;
	align-items: center;
}

.check label{
	position: relative;
	top: 0;
	color: white;
	font-weight: normal;
}

.check, .buttons a {
	display: flex;
	gap: 0.5rem;
	font-size: 1.4rem;
}

.text {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.3rem; 
}

.text h3 {
	color: white;
	font-family: "Alata", sans-serif;
}

.text a, .text h3{
	font-size: 1.4rem;
	font-weight: normal;
}

a {
	color: gold;
	font-weight: normal;
	font-family: "Alata", sans-serif;
	cursor: pointer;
}

input[type="checkbox"] {
            appearance: none;
            width: 6px;
            height: 6px;
            border: 1px solid gray;
            border-radius: 4px;
            background-color: white;
            cursor: pointer;
            position: relative;
        }

        input[type="checkbox"]:checked {
            background-color: #0db843;
        }

        input[type="checkbox"]:checked::after {
            content: '✔';
            color: white;
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -54%);
        }
	
#toggleIcon1, #toggleIcon2, #email {
	left: 92.5%;
}