* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(230, 240, 227);
    color:rgb(5, 49, 1);
    font-family: "Poppins", sans-serif;
}

html {
	font-size: 62.5%;
}

form {
	margin-bottom: 1.5rem;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

span {
	color: white;
}

/* SECCION DEL NAV */
 
.navmenu {
	font-size: 1.6rem;
	display: inline-flex;
	background-color: #239A14;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	gap: 6rem;
	height: 5rem;
	padding: 2rem;
	position: relative;
}

.navmenu span {
	font-size: 1.6rem;
}

.home {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border-radius: 2.5rem;
	img {
		width: 4.8rem;
		height: 4.8rem;
	}
}

.pages {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	height: 5rem;
	align-content: center;
}

.button {
	background: transparent;
	padding: 0.6rem;
	gap: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 4rem;
	border-radius: 0.5rem;
	transition: 0.7s;
}

.button:hover {
	background: rgb(9, 71, 4);
	cursor: pointer;
	color: rgb(174, 215, 159);
}

.button::after {
	content: '';
	background: linear-gradient(to right, rgb(174, 215, 159), rgb(174, 215, 159), white);
	height: 0.5rem;
	width: 0rem;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 10rem;
	transition: 0.7s ease;
} 

.button:hover::after {
	width: 100%;
	transform: scale (1.1);
} 

.pages a {
	text-decoration: none;
	color: white;
	font-size: 1.8rem;
}

.profile {
	font-size: 3rem;
	color: white;
	padding: 0.650rem;
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	position: relative;
    font-family: Arial , sans-serif;
}

.profile:hover {
	background: rgb(9, 71, 4);
	color: rgb(174, 215, 159);
}

#dmenu {
	position: absolute;
	display: flex;
	right: 0;
	top: 0%;
	flex-direction: column;
	background: #239A14;
	border-radius: 0.5rem;
	transition: 0.5s ease-out;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.6);
}

.off {
	opacity: 0;
	z-index: -1;
}

.on {
	opacity: 1;
	z-index: 5;
}


#dmenu i {
	color: white;
	font-weight: 600;
	font-size: 1.7rem;
	padding-left: 0.4rem;
	margin-right: 0.5rem;
	padding-top: 0.3rem;
	padding-bottom: 0.2rem;
	cursor: pointer;
	transition: 0.5s ease;
}

#dmenu ul {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#dmenu li {
	font-size: 1.5rem;
	list-style: none;
	color: white;
	width: 100%;
	padding: 0.5rem;
	transition: 0.5s ease;
	text-align: center;
}

#dmenu a {
	width: 100%;
	text-decoration: none;
	color: white;
	transition: 0.5s ease;
	height: 100%;
	font-weight: 600;
}

#x-icon {
	width: 100%;
}

#dmenu li:hover, #dmenu #x-icon:hover {
	background: rgb(9, 71, 4);
}
/* FIN DE SECCION DE NAV */

input{
    background-color:rgb(229, 237, 219);
    border-color:rgb(126, 224, 88);
    border-radius: 6px;
    border-style:outset;
    color: rgb(9, 71, 4);
    transition: 0.23s;
    text-align: center;
	padding: 0.3rem;
}

input:hover{
    background-color: white;
    color: #239A14;
}

input[type="number"]{
	text-align: center;
}

.card{
    padding:4px;
    margin:3px
}

#reserva{
    justify-content:center;
    display:flex;
    flex-direction: row;
    background-color: #239A14;
    padding: 1rem;
    transition:0.25s;
	border-radius: 1.5rem;
	font-weight: 600;
}

#reserva:hover{
    box-shadow: 2px 4px 5px rgb(205, 220, 199);
}

.titles{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:rgb(35, 154, 20);
    padding:4px;
    margin:2px;
    font-size: 2rem;
	text-align: center;
}

.actividades{
    background-color: rgb(174, 215, 159);
    width:98%;
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-items:center;
    transition:0.25s; 
	padding-bottom: 2.3rem;
	border-radius: 1.5rem;
}

.actividades:hover{
    box-shadow: 2px 4px 5px rgb(205, 220, 199);
}

.activity{
    background-color: rgb(35, 154, 20);
    color:rgb(145, 236, 132);
    border-bottom-color: rgb(145, 236, 132);
    padding:4px;
    margin:2px auto;
    border-radius: 8px;
    width:83%;
	text-align: center;
}

.activity:hover{
    border-bottom: 22px;
}

.title{
    background: rgb(174, 215, 159);
    padding:4px;
    width:200px;
    text-align:center;
    justify-self: center;
    margin:4px;
    color: rgb(9, 71, 4);
    font-size:17px;
	font-weight: 600;
}

.reserve-input{
    background:rgb(174, 215, 159);
    border-color: rgb(27, 179, 80);
    width:100px;
    margin:2px auto;
}

.reserve-input:hover{
    background: white;
    color:rgb(32, 116, 21)
}

.price{
    font-size:15px;
    padding:6px;
}

.section-input{
    justify-content:center;
    padding:5px;
}

.button-section{
	display: flex;
	gap: 1rem;
    justify-content: center;
    align-content: center;
	align-items: center;
    padding: 3px;
    margin-top: 10px;
}

.g-button, .c-button, .pdf-button {
	width: 23%;
	align-self: center;
}

.services{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:rgb(38, 170, 26);
    margin:14px
}

.medios-de-pago{
    background:rgb(237, 245, 235);
    display:flex;
    flex-direction:row;
    transition:0.25s; 
    justify-content: center;
    width:98%;
    padding:10px;
}

.medios-de-pago:hover{
    box-shadow: 2px 4px 5px rgb(205, 220, 199);
}

.logo{
    width:78px;
    height:78px;
    margin:6px;
    padding:4px;
    transition:0.24s
}

.logo:hover{
    box-shadow:0px 2px 3px rgb(115, 239, 115);
    cursor:pointer;
}

.success{
    justify-content: center;
    padding:6px;
    font-family: "Poppins", sans-serif;
    font-size:14.5px;
    color: white;
    text-align:center;
    transition:0.23s;
}

.mistake{
	position: absolute;
	left: 0;
	translate: 0 -110%;
    background-color: rgb(250, 50, 60);
    justify-content: center;
    padding:0.7rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.5rem;
    color: white;
    text-align:center;
    transition:0.23s;
    border-radius:3px;
    border-style:hidden;
    transform:none;
    transition:0.23s;
	align-self: center;
	width: 26.10%;
	margin-bottom: 6rem;
}

.add-button{
    background-color: rgb(27, 179, 80);
    margin-left:2px;
    padding:8px;
	transition: 0.3s ease-out;
}
.remove-choice{
    background-color:rgb(250, 50, 60);
    color: white;
    border-color:rgb(255, 106, 0);
    padding:8px;
    margin:0px;
    display:none;
	font-weight: 600;
	transition: 0.3s ease-out;
	align-self: center;
}
.remove-choice:hover{
    background-color: white;
    color: rgb(250, 50, 60);
    cursor:pointer;
}

.add-button{
    cursor:pointer;
	color: white;
	font-weight: 600;
}
.dataContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:auto;
    padding:2px;
}

.info{
    color:rgb(9, 71, 4);
    padding:4px;
    margin-left: 10px;
    font-weight: 700;
}

#error-messege{
	font-size: 1.8rem;
	position: absolute;
    display: none;
    transition: 0.23s;
	width: 100%;
	translate: 0 32%;
	padding: 3rem;
}

#save-reserve-info{
    background-color: rgb(35, 154, 20);
    color: white;
    border-style: hidden;
    padding:10px;
    border-radius: 9px;
    transition:0.3s ease;
	font-weight: 600;
}

#save-reserve-info:hover{
    background-color: rgb(50, 235, 25);
    color: rgb(9, 71, 4);
    cursor:pointer;
}

#lodging-services{
    background-color: #239A14;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    padding:0.7rem;
	padding-left: 1.5rem;
    color: white;
	font-weight: 600;
	border-radius: 1.5rem;
	/* display: grid;
	justify-content: left;
	align-content: left;
	align-items: center;
	text-align: left;
	grid-template-columns: 1fr 1fr;
	padding-top: 1rem; */
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	padding-top: 1rem;
	width: 98%;
}

#calculate-reserve-price{
    background-color: #ed7505;
    color: white;
    cursor:pointer;
    border-style:hidden;
    justify-content:end;
    padding:10px;
    border-radius: 9px;
    transition:0.3s ease;
	font-weight: 600;
}

#calculate-reserve-price:hover{
    background-color: yellow;
    color: #614003;
    cursor:pointer;
}

/* Estilos para el boton que genera el pdf, si se quiere cambiar adelante */

#generate-pdf{
    background-color: #c10202;
    color: white;
    cursor:pointer;
    border-style:hidden;
    justify-content:end;
    padding:10px;
    border-radius: 9px;
    transition:0.3s ease;
	font-weight: 600;
}

#generate-pdf:hover{
    background-color: rgb(255, 65, 65);
    color: #770202;
    cursor:pointer;
}

#card-info{
    justify-content:center;
    display:flex;
    flex-direction: row;
    background-color:rgb(242, 246, 234);
    padding: 2px;
    transition:0.25s; 
    margin:6px;
}

#purchase-info{
	align-items: center;
    background: rgb(242, 246, 234);
    border:2px;
    border-style:ridge;
    border-color:rgb(38, 170, 26);
    color:rgba(66, 127, 58, 0.881);
    position:absolute;
    width:70%;
    padding:10px;
    display:none;
    transition:0.23s;
    z-index: 1000;
	border-radius: 10px;
}

#purchase-content{
	top: -60%;
    background: #239A14;
    font-family: "Poppins", sans-serif;
    font-size:16px;
    text-align:center;
    display:flex;
    flex-direction: column;
    padding:3px;
	color: white;
	border-radius: 10px;
	padding-bottom: 50px;
}
.close-div{
	font-size: 3rem;
	position: absolute;
	margin-top: 1rem;
	margin-left: 1rem;
    border-radius:100%;
    padding:0.4rem;
    width:4rem;
    height:4rem;
	display: flex;
	justify-content: center;
    transition:0.3s ease-in-out;
	align-items: center;
}
.close-div:hover{
    background:rgb(50, 235, 25);
    cursor:pointer;
}

label{
    font-size:14px;
    padding:8px;
	color: white;
	align-self: center;
}

.toilet label, .room-4 label{
	background: rgb(27, 179, 80);
	padding: -5rem;
	margin: 1rem;
	margin-bottom: 0.3rem;
	border-radius: 1rem;
}

.credits-form {
	color: white;
}

.information {
	position: relative;
	left: 1%;
	margin-bottom: -50px;
	background: #239A14;
	color: white;
	text-align: left;
	padding-left: 10px;
	width: 50%;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	height: auto;
	background: #239A14;
}

.contactanos {
	font-size: 1.2rem;
}

.social-media {
	display: flex;
	font-size: 2.8rem;
	gap: 1rem;
	text-align: center;
}

.social-media i {
	font-weight: 500;
	color: #239A14;
	background: white;
	padding: 1.8rem;
	border-radius: 50%;
	transition: 0.3s ease-out;
}

 .social-media i:hover {
	transform: scale(1.1);
} 

#wapp:hover {
	background: #35db72;
	color: white;
}

#ig {
	background: linear-gradient(60deg, white, white, white, white, white);
}

#ig:hover {
	background: linear-gradient(60deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
	color: white;
}

#face:hover {
	background: #3b5998;
	color: white;
}

#twit:hover {
	background: #00acee;
	color: white;
}

.credits {
	text-align: center;
	width: 100%;
	background: rgb(9, 71, 4);
	padding: 0.6rem;
	font-size: 12.6px;
	font-weight: 100;
}

.contactanos {
	font-size: 18px;
}