/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

i{
  cursor: pointer;
  color: black;
}

p{
  font-size: 2.5rem;
}
dialog{
  border-style: none;
  width: 20rem;
  height: 12rem;
  background-color: greenyellow;
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8rem;
  left: 90rem;
  padding: 0;
}
dialog>button{
  border-style: none;
  background-color: greenyellow;
  width: 100%;
  height: 4rem;
  transition: transform 1s;
}
dialog>button:hover{
  background-color: #009800;
}
dialog>#cerrar:hover{
  transform: scale(0.8);
}
/* Seccion del nav */
.navmenu {
  font-size: 5rem;
  display: flex;
  background-color: rgb(47, 177, 0); /* Color original */
  width: 100%; /* Se asegura de ocupar todo el ancho */
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  height: 6rem;
  padding: 3rem 1.5rem; /* Ajuste de padding para dar más espacio */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  overflow: hidden;
}

.home {
  font-size: 2.5rem;
  border-radius: 5px;
  padding: 0.6rem;
  transition: background 0.3s, transform 0.3s;
}

.home:hover {
  background: rgb(174, 215, 159);
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.button {
  background: transparent;
  padding: 0.6rem;
  gap: 0.5rem;
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  height: 4rem;
  border-radius: 0.5rem;
  transition: background 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background: rgb(174, 215, 159);
  cursor: pointer;
}

.button::after {
  content: '';
  background: linear-gradient(to right, rgb(35, 154, 20), rgb(27, 179, 80));
  height: 5px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  transition: width 0.3s ease;
}

.button:hover::after {
  width: 100%;
}

.pages a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.profile {
  border: 0.2rem solid black;
  display: flex;
  font-size: 30px;
  padding: 6px;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
  gap: 0.8rem;
}
.profile::before{
  content: "≡";
}

.profile:hover {
  background: rgb(174, 215, 159);
}

/* Seccion del carousel */
.hero-section {
  background-color: rgb(174, 215, 159);
  padding: 3rem;
  position: relative;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  gap: 2rem;
  padding: 2rem 3rem;
}

.carousel-item {
  flex: 0 0 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.carousel-item:hover {
  transform: scale(1.05);
}

.carousel-item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.package-details {
  background-color: white;
  border-radius: 0.8rem;
  padding: 1.5rem;
  margin-top: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.package-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
}

.package-price {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.package-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.package-actions button {
  background-color: #009800;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  flex: 1;
  margin: 0.5rem;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-controls button {
  background-color: rgba(0, 152, 0, 0.7);
  color: #fff;
  border: none;
  padding: 1rem 1.8rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2.1rem;
}

/* Seccion de contacto - Footer */

footer {
  width: 100%;
  background-color: rgb(47, 177, 0);
}

.about-us, .contact-us {
  padding: 2rem;
  text-align: center;
}

.contact-us a {
 text-decoration: none;
 color: rgb(0, 55, 9);
 font-weight: bold;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.social-media a img {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  transition: background 0.4s, transform 0.3s;
}

.social-media a img:hover {
  transform: scale(1.05);
  background: rgb(174, 215, 159);
}